.Nav {
  display: flex;
  justify-content: left;
  align-items: center;
  min-height: 10vh;
}

.Nav-link {
  color: black;
  font-size: 18px;
  font-weight: 700;
  margin: 0px 12px;
  text-decoration: none;
}

.Nav-link:hover {
  color: #cccccc;
  text-decoration: underline;
}
